body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ecbddd;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #e80f40;
}

button {
    background-color: #fc5454;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e80f0f;
}
